<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= 360 height= 740, initial-scale=1.0">
    <title>Práctica integradora 1</title>
</head>
<body>
    <header>
        <img src="../public/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" width="200px" >
        <input type="text" placeholder="Buscar productos" size="30">
        <input list="browsers">
            <datalist id="browsers">
                <option value="Ofertas">
                <option value="Tiendas oficiales">
                <option value="Vender">
                <option value="Ayuda">
                <option value="Creá tu cuenta">
                <option value="Ingresá">
                <option value="Mis compras">
            </datalist>
    </header>
    <main>
        <ul>
            <li type="disc"> <strong>Sección: Basado en tu última visita</strong> </li>
        </ul>
        <br><img src="../public/images/img-cafetera-moulinex.jpg" width="200px">
        <br>$6770
        <br>40% OFF
        <br>Cafetera Moulinex
        <br><img src="../public/images/img-macbook-pro-2019.jpg" width="200px">
        <br>$230.000
        <br>20% OFF
        <br>MacBook Pro 2019
        <br><img src="../public/images/img-samsung-galaxy-s10.jpg" width="200px">
        <br>$70.500
        <br>10% OFF
        <br>Samsung Galaxy S10
        <br><img src="../public/images/img-tv-samsung-smart.jpg" width="200px">
        <br>$23.200
        <br>5% OFF
        <br>SmartTV Samsung 43"
        <ul>
            <li type="disc"> <strong>Sección de ofertas</strong> </li>
        </ul>
        <br><img src="../public/images/img-cafetera-moulinex.jpg" width="200px">
        <br>$6770
        <br>40% OFF
        <br>Cafetera Moulinex
        <br><img src="../public/images/img-macbook-pro-2019.jpg" width="200px">
        <br>$230.000
        <br>20% OFF
        <br>MacBook Pro 2019
        <br><img src="../public/images/img-samsung-galaxy-s10.jpg" width="200px">
        <br>$70.500
        <br>10% OFF
        <br>Samsung Galaxy S10
        <br><img src="../public/images/img-tv-samsung-smart.jpg" width="200px">
        <br>$23.200
        <br>5% OFF
        <br>SmartTV Samsung 43"
    </main>
    <footer>
        <ul>
            <li type="disc"> <strong>Pagá con tarjeta o en efectivo</strong> </li>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!.
            <li type="disc"> <strong>Envío gratis desde $2.500</strong> </li>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
            <li type="disc"> <strong>Seguridad de principio a fin</strong> </li>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
            <li type="disc"> <strong>Copyright © 1999-2020 Mercado Liebre S.R.L.</strong> </li>
        </ul>
    </footer>
</body>
</html>